/* header.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 1.1rem; /* Légèrement agrandi */
}

.dark-mode {
    background-color: #434242;
    color: #D3D2D2;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #82CFD8;
    color: #00334A;
    margin-bottom: 3ex;
}

#mainHeader {
    transition: margin-left 0.3s ease; /* Ajoutez une transition pour l'effet visuel */
}

#mainHeader.sidebar-visible {
    margin-left: 15vw; /* Ajoutez une marge gauche équivalente à la largeur de la sidebar */
}


.header-container
{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #82CFD8;
}

.navbar-left, .navbar-center, .navbar-right {
    flex: 1;
}

.menu-toggle {
    padding: 10px;
    cursor: pointer;
}

/*Menu de navigation */
.navigation-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation-menu ul li {
    margin-right: 20px;
}

.navigation-menu ul li:last-child {
    margin-right: 0;
}

.navigation-menu ul li .nav-item {
    display: block;
    padding: 15px;
    background-color: #00334A;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
    flex-grow: 1;
    height: 20px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.navigation-menu ul li .nav-item-space {
    display: block;
    padding: 10px;
    background-color: #00334A;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
    flex-grow: 1;
    height: auto;
    width: 100px;
    max-width: 100px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.navigation-menu ul li .nav-item.active,
.navigation-menu ul li .nav-item:hover,
.navigation-menu ul li .nav-item-space.active,
.navigation-menu ul li .nav-item-space:hover,
.popup-button:hover{
    background-color: #002233;
    cursor: pointer;
}

.popup-button i{
    margin-right: 3px;
}

#menuButton {
    transition: transform 0.3s ease;
}

#menuButton.sidebar-visible .fa-bars {
    transform: rotate(90deg);
}


/* Style de la barre de recherche */
.search-container {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.search-icon input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border: 3px solid;
    border-color: black;
    border-radius: 20px;
    width: 200px;
    background-color: #D9D9D9;
}

.search-icon a i {
    color: black;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.search-icon a i:hover
{
    color: #002233;
    transform: scale(1.2);
}

.navbar-right .icon-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.icon {
    font-size: 2.4vh;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.header-title {
    position: absolute;
    right: 1vh;
    top: 1vh;
}


/*Styles et comportement de la sidebar */
.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: #82CFD8;
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 1vh;
    z-index: 1000; /* Assurez-vous que la sidebar reste au-dessus des autres éléments */
}

.sidebar.sidebar-visible {
    transform: translateX(0);
}

/* Sidebar zoom effect on hover */
.sidebar:hover {
    /*transform: scale(1.05);  Scale up the sidebar to 105% of its size */
}
.profile-section {
    background-color: #82CFD8;
    text-align: center;
    padding: 2vh 0;
}

.profile-section .avatar {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    padding: 0.5vh;
}

.profile-section h2 {
    background-color: #82CFD8;
    color: #000000;
    font-size: 2.5vh;
    margin: 0;
    padding: 1vh 0;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav .nav-item {
    background-color: #82CFD8;
    color: #000000;
    padding: 2vh 2vw;
    text-decoration: none;
    display: block;
    border-bottom: 0.1vh solid #000000;
}

.sidebar-nav .nav-item:hover {
    background-color: #23B5BE;
    color: #00334A;
}

.sidebar-nav i {
    font-size: 2.4vh;
    margin-right: 1vw;
}

.sidebar-footer .nav-item {
    background-color: #d01d1d;
    color: #000000;
    padding: 2vh 2vw;
    text-decoration: none;
    display: block;
    border-bottom: 0.1vh solid #000000;
}

/*Menu déroulant pour les langues */
.popup-button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    padding: 15px;
    background-color: #00334A;
    border-radius: 50px;
    margin-right: 10px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-width: 50px;*/
    height: 50px;
    cursor: pointer;
}

popup-button.menu{
    max-width: 100px;
}

.popup-button.language{
    width: 50px;
}

.popup-button.menu{
    width: auto;
}

.popover-container {
    position: relative;
    display: inline-block;
}

.popover-content {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    overflow: visible;
    width: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 60px rgba(14,42,71,.25);
    animation: popover .2s ease-in-out;
    list-style-type: none;
    text-align: center;
}

.popover-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: flex;
}

.popover-content a:hover {
    background-color: #f1f1f1;
}

.popover-container:hover .popover-content {
    display: block;
}

/* Styles du bouton de mode sombre */
.dark-mode-toggle {
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    width: 60px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round.dark:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-image: url('../../images/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00334A;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00334A;
}

input:checked + .slider.round.dark:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url('../../images/moon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-size: cover;
    background-repeat: no-repeat;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .sidebar {
        width: 25vw; /* Increase the sidebar width on smaller screens */
    }

    .sidebar:hover {
        transform: none; /* Disable zoom effect on smaller screens if it disrupts the layout */
    }

    .profile-section .avatar {
        width: 8vw;
        height: 8vw;
    }

    .sidebar-nav .nav-item, .sidebar-footer .nav-item {
        padding: 2vh 5%; /* Adjust padding to be more responsive */
    }

    /* Additional styles to adjust icon sizes and other elements if needed */
    .icon {
        font-size: 3.6vh;
    }

    .header-title {
        right: 2vh;
        top: 2vh;
    }

    .search-container input, .search-container button {
        padding: 5px;
        font-size: 2.4vh;
    }

    .menu-toggle {
        padding: 15px;
    }
}
