body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.formations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.formation {
    flex: 0 0 300px; /* Largeur fixe pour chaque formation */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.formation h2 {
    margin-top: 0;
}

.btn-inscription {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-inscription:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}