
/* Style général du body et du header */
    body,header {
    margin: 0;
    padding: 0;
    }

    .dark-mode {
        background-color: #434242; 
        color: #D3D2D2; 
    }

    .header-container {
        font-family: 'Poppins', sans-serif; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        background-color: #82CFD8; 
    }

    .logo-container {
        margin-left: 20px;
    }

    .logo-container .logo {
        max-width: 150px;
        max-height: 100px;
        height: auto; 
        padding: 10px 0;
    }

    /* Boutons de navigation */
   
    .navigation-menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    .navigation-menu ul li {
        margin-right: 20px;
    }

    .navigation-menu ul li:last-child {
        margin-right: 0;
    }

    .navigation-menu ul li .nav-item {
        display: block;
        padding: 15px;
        background-color: #00334A;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        margin-right: 10px;
        transition: background-color 0.3s;
        flex-grow: 1;
        height: 20px;
        width: 100px;
        max-width: 100px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word; 
    }

    .navigation-menu ul li .nav-item-space {
        display: block;
        padding: 10px;
        background-color: #00334A;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        margin-right: 10px;
        transition: background-color 0.3s;
        flex-grow: 1;
        height: auto;
        width: 100px;
        max-width: 100px;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word; 
    }

    .navigation-menu ul li .nav-item.active,
    .navigation-menu ul li .nav-item:hover,
    .navigation-menu ul li .nav-item-space.active,
    .navigation-menu ul li .nav-item-space:hover,
    .popup-button:hover{
        background-color: #002233; 
        cursor: pointer;
    }

    /* Barre de recherche et icône de recherche */
    .search-container {
        display: flex;
        white-space: nowrap;
        align-items: center;
    }

    .search-icon input[type="text"] {
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
        border: 3px solid;
        border-color: black;
        border-radius: 20px;
        width: 200px;
        background-color: #fff;
    }

    .search-icon a i {
        color: black;
        cursor: pointer;
        font-size: 24px;
        margin-right: 10px;
    }

    .search-icon a i:hover
    {
        color: #002233; 
        transform: scale(1.2);
    }

    /* Styles du bouton de mode sombre */
    .dark-mode-toggle {
        margin-right: 20px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 34px;
        width: 60px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        background-image: url('../images/sun.png');  
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-image: url('../images/moon.png');  
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /*Menu déroulant pour les langues */
    .popup-button{        
        color: white;
        padding: 15px;
        background-color: #00334A;
        border-radius: 50px;
        margin-right: 10px;
        transition: background-color 0.3s;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 50px; 
        width: 50px; 
        cursor: pointer;
    }
    
    .popover-container {
        position: relative;
        display: inline-block;
    }

    .popover-content {
        position: absolute;
        z-index: 1;
        top: 100%; 
        left: 50%; 
        transform: translateX(-50%); 
        display: none;
        overflow: visible;
        width: auto; 
        margin: 0;
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 60px rgba(14,42,71,.25);
        animation: popover .2s ease-in-out;
        list-style-type: none;
        text-align: center; 
    }

    .popover-content a {
        color: black;
        padding: 12px 12px;
        text-decoration: none;
        display: flex;
    }

    .popover-content a:hover {
        background-color: #f1f1f1;
    }

    .popover-container:hover .popover-content {
        display: block;
    }

    /* Styles pour les écrans de petite taille (mobile) */
    @media screen and (max-width: 768px) {
        .navigation-menu{
            display: none;
        }

        .popover-container.menu {
            display: block;
        }
    }

    /* Styles pour les écrans de taille moyenne (tablettes) */
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .navigation-menu{
            display: none;
        }

        .popover-container.menu {
            display: block;
        }
    }
    /* Styles pour les écrans de grande taille (PC) */
    @media screen and (min-width: 1025px) {
        .navigation-menu{
            display: block;
        }

        .popover-container.menu {
            display: none;
        }
    }


