        /* Main styling */
        body,
        input,
        select,
        button,
        textarea,
        label {
            font-family: 'Poppins', 'sans-serif';
        }
        
        h1,h2{
            font-family: 'Bebas Neue', sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
        }     

        h1{
            font-size: 3.5rem;
        }

        h2{
            font-size: 2.5rem;
        }

        h4{
            font-family: 'Poppins', 'sans-serif';
            font-weight: normal;
        }
        
        .form-container {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .form-title {
            text-align: center;
            color: #00334A;
            margin-bottom: 1rem;
        }

        .form-description {
            text-align: center;
            margin-bottom: 2rem;
        }

        .section{
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid var(--margin-color);
        }

        .line{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .line.permis{
            margin-top: 10px;
        }

        .radio-label{
            margin-right: 10px;
        }

        .col{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin-right: 30px;
            margin-bottom: 20px;
        }

        .col-week{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-auto-rows: auto;
            grid-gap: 10px;
            justify-content: center;
            width: 100%;
            margin: auto;
            border-radius: 8px;
        }

        /* Form inputs */
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        select,
        textarea {
            border: none;
            outline: none;
            padding: 10px;
            font-size: 16px;
            max-width: 50ch;
            resize: none;
            border-radius: 20px;
            width: 200px;
            background-color: #D9D9D9;
        }

        select.multiple{
            width: auto;
            height: 2%;
            max-height: 200px;
        }

        /* Radio buttons and checkboxes */
        .radio-group,
        .checkbox-group {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            gap: 10px;
            margin-bottom: 1rem;
        }

        .radio-group label,
        .checkbox-group label {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: #f7f7f7;
            border: 1px solid #ddd;
            padding: 0.5rem;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .format-info {
            color: red;
        }

        input[type="radio"]:checked+label,
        input[type="checkbox"]:checked+label {
            background-color: #82CFD8;
            color: white;
            border-color: #82CFD8;
        }

        /*Confirm button */
        .confirm-button {
            display: block;
            width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #82CFD8;
            color: #fff;
        }

        .confirm-button:hover {
            background-color: #23B5BE;
            
        }s

        /* Styling for checkmarks */
        .checkmark {
            display: inline-block;
            width: 22px;
            height: 22px;
            background: white;
            border-radius: 50%;
            position: relative;
        }

        .checkbox-group .checkmark {
            border-radius: 4px;
        }

        /* Submit button */
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #00506b;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            /*transition: background 0.3s;*/
        }

        button[type="submit"]:hover {
            background-color: #00334A;
        }

        /*Boutons des moyens de paiement*/
        .payment-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            grid-auto-rows: auto;
            grid-gap: 10px;
            justify-content: center;
            width: 100%;
            margin: auto;
            border-radius: 8px;
        }

        .payment-details {
            display: none;
        }

        /*Bouton représentant les paiements*/
        .payment-button{
            color: black;
            padding: 15px;
            background-color: #82CFD8;
            border-radius: 50px;
            margin: 20px;
            transition: background-color 0.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 150px;
            width: 150px;
            cursor: pointer;
            overflow: hidden;
        }

        .payment-button:hover{
            background-color: #23B5BE;
            transform: scale(1.05);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        }

        .payment-button.active {
            background-color: #23B5BE;
            transform: scale(1.05);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        }

        /*Style de la fenêtre contextuelle pour les conditions d'utilisation*/
        .modal {
            display: none; /* Masquer la fenêtre modale par défaut */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .radio-group,
            .checkbox-group {
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            }
        }